<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marcod.malabag">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_white"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mala">
        <activity
            android:name="com.marcod.malabag.DetailBagActivity"
            android:exported="false" />
        <activity
            android:name="com.marcod.malabag.wallet.MyWalletSuccessActivity"
            android:exported="false" />
        <activity
            android:name="com.marcod.malabag.wallet.MyWalletTopUpActivity"
            android:exported="false" />
        <activity
            android:name="com.marcod.malabag.wallet.MyWalletActivity"
            android:exported="false" />
        <activity
            android:name="com.marcod.malabag.checkout.Checkout2Activity"
            android:exported="false" />
        <activity
            android:name="com.marcod.malabag.home.SearchActivity"
            android:exported="false" />
        <activity
            android:name="com.marcod.malabag.checkout.SuccessCheckoutActivity"
            android:exported="false" />
        <activity
            android:name="com.marcod.malabag.checkout.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name="com.marcod.malabag.sign.signup.SignUpPhotoScreenActivity"
            android:exported="false" />
        <activity
            android:name="com.marcod.malabag.sign.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.marcod.malabag.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.marcod.malabag.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.marcod.malabag.sign.signin.SignInActivity" />
    </application>

</manifest>